<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop"   
       xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd   
       http://www.springframework.org/schema/aop   
       http://www.springframework.org/schema/aop/spring-aop.xsd">  
  
  	<!-- LoginBean is an id given to target class com.gmm.muthu.aopdemo.IpRestrictCore  -->
    <bean id="countBean" class="com.gmm.muthu.apicount.APICountController">   </bean>  
    
    <!-- It is an aspect which advices the target class IpRestrictCore  -->
    <bean id="countAspect" class="com.gmm.muthu.apicount.APICountAspect"></bean>  
     
     <!-- Weaving done by linking aspect with target object -->
    <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"></bean>  
          
</beans>  